<template>
	<div class="callback">
		<h1>Loading... please wait</h1>
	</div>
</template>

<script>
export default {
	name: 'callback',
	created: function(){
		this.$auth.handleAuthentication(() => {
			this.$router.push('services');
		});
	}
}
</script>
