<template>
  <div class="home">
    <HomeComponent />
  </div>
</template>

<script>
import HomeComponent from '@/components/HomeComponent.vue'

export default {
  name: 'home',
  components: {
    HomeComponent
  }
}
</script>
