<template>
  <div class="home-component">
    <h1>Homepage</h1>
  </div>
</template>

<script>
export default {
  name: 'HomeComponent',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
