<template>
  <div id="app">
    <component v-bind:is="layout">
      <div id="nav">
        <router-link to="/">Home</router-link> |
        <router-link v-if="!this.$auth.isAuthenticated()" to="/login">Login</router-link>
        <router-link v-if="this.$auth.isAuthenticated()" to="/services">Services</router-link> |
        <router-link v-if="this.$auth.isAuthenticated()" to="/logout">Logout</router-link>
      </div>
      <router-view/>
    </component>
  </div>
</template>

<script>

export default {
  computed: {
    layout() {
      return 'default'
    }
  }
}
</script>

<style lang="scss">
#app {
  margin-top: 1rem;
  text-align: center;
}
</style>
